[submodule "asok/rinari"]
	path = asok/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "asok/nxhtml"]
	path = asok/nxhtml
	url = git://github.com/jwiegley/nxhtml.git
[submodule "asok/ruby-electric"]
	path = asok/ruby-electric
	url = git://github.com/qoobaa/ruby-electric.git
[submodule "asok/emacs-rails"]
	path = asok/emacs-rails
	url = git://github.com/asok/emacs-rails.git
